header
  h1 
    a(href="/") Recipe Book
  nav
    span.nav-button 
      i.fas.fa-bars
    ul.nav-list
      li 
        a(href="/recipes")
          i.fas.fa-book-open 
          span  Recipes
      li 
        a(href="/create") 
          i.fas.fa-plus
          span  New Recipe