extends layout 
block content

  .add-recipe-page
    h2 Add New Recipe

    form(method="post")
      fieldset
        label(for="title") Title
        input(type="text", name="title", required)
      fieldset
        label(for="description") Description
        input(type="text", name="description", required)
      fieldset
        label(for="preptime") Prep Time (mins)
        input(type="number", name="preptime", required, min="0")
      fieldset
        label(for="cooktime") Cooking Time (mins)
        input(type="number", name="cooktime", required, min="0")
      fieldset
        label(for="instructions") Instructions
        textarea(type="text", name="instructions", required)
      fieldset
        label(for="imgurl") Image URL
        input(type="text", name="imgurl", required)
      .ingredient-container(data-total=1)
        h2 Ingredients
        fieldset
          label(for="ingredient[1][name]") Ingredient Name + Amount
          .ingredients
            input(type="text", name="ingredient[1][name]", placeholder="Ingredient", required)
            input(type="number", name="ingredient[1][amount]", placeholder="1", required, min="0")
      button(type="button")#addIngredientButton Add Another Ingredient
      fieldset
        button.submit-btn(type="submit") Submit