doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Recipe Book
    link(rel='stylesheet', href='/css/main.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand')
    script(src="/js/main.js")
  body
    #wrapper
      include partials/nav
            
      block content