doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Recipe Book
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/main.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand')
    link(rel="stylesheet", href="/css/pageTransition.css")
    script(src="/js/pageTransition.js")
    script(src="/js/main.js")
  body
    #nav-closer
    #wrapper
      include partials/nav
            
      block content