* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #252525;
}

i {
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  flex: 1;
}

/* Header */

header,
nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: flex;
  justify-content: center;
  height: 100%;
}

nav ul li a {
  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 5px;
  transition: all .2s ease-in-out;
}

nav ul li a:hover {
  background: #333;
  color: white;
}

header h1 {
  font-family: "Pacifico";
}

.nav-button {
  display: none;
}

#nav-closer {
  display: none;
}

/* Hero */

.hero {
  background: url(../img/bg1.jpeg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: white;
}

.hero-content {
  /*padding: 20px;*/
  font-size: 2rem;
  background: #0000003f;
  height: 100%;
}

.hero-content h1,
.hero-content h2 {
  padding: 10px;
}

/* Home Page */

.home-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.home-welcome-message h2 {
  font-family: 'Pacifico';
  font-size: 5rem;
}

.home-suggestions h3 a {
  text-decoration-line: underline;
}

/* Recipes Page */

.recipes-page-title {
  text-align: center;
}

.recipes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipes-card {
  position: relative;
  width: 300px;
  height: 250px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 14px 31px 1px rgba(0, 0, 0, 0.75);
  transition: all .2s ease-in-out;
}

.recipes-card:hover {
  box-shadow: 2px 4px 21px 1px rgba(0, 0, 0, 0.75);
}

.recipes-card-content h2 {
  text-align: center;
}

.recipes-card-img-container {
  margin: 0 auto;
}

.recipes-card-img-container img {
  margin: 0 auto;
  height: 100px;
  width: auto;
  margin: 10px auto;
  display: flex;
}

.recipes-card-content p {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  padding: 10px;
  font-size: 1.5rem;
  transition: all .2s ease-in-out;
}

.delete-btn:hover {
  color: red;
}

/* Recipe page */

.recipe-title {
  font-family: "Pacifico";
  font-size: 4rem;
  text-align: center;
}

.recipe-subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.recipe-container {
  display: flex;
  padding: 20px;
  box-shadow: 2px 4px 21px 1px rgba(0, 0, 0, 0.75);
}

.panel {
  width: 50%;
}

.panel>* {
  margin: 5px;
  padding: 10px;
}

.left-panel {}

.right-panel {}

.recipe-info,
.ingredients ul li {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.instructions {
  max-width: 400px;
}

.recipe-img {
  margin: 0 auto;
}

.recipe-img img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* Create Recipe Page */

#addIngredientButton {
  margin: 10px auto;
  background: rgb(95, 155, 235);
  display: block;
  border-radius: 50%;
  border: 1px solid white;
}

#addIngredientButton:hover {
  background: rgb(27, 91, 175);
  color: white;
}

.add-recipe-page input,
.add-recipe-page textarea {
  padding: 10px;
  border: 1px solid #555;
}

.animate-in {
  animation-name: animate-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  opacity: 0;
  transform: translateX(-1000px);
}

.animate-out {
  animation-name: animate-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  opacity: 1;
  transform: translateX(0px);
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animate-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}

/* Comments */

.comment-container {
  margin: 40px 0px;
  padding: 20px;
  box-shadow: 2px 4px 21px 1px rgba(0, 0, 0, 0.75);
}

.comment {
  display: flex;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  position: relative;
}

.comment p {
  padding: 10px;
  margin: 5px;
}

.comment-options {
  text-align: right;
  position: absolute;
  right: 10px;
}

.comment-options a {
  padding: 10px;
}

.commenter {
  border-right: 1px solid #aaa
}

.comment h2 {
  max-width: 200px;
}

.add-comment input {
  padding: 10px;
  margin: 0 10px 0 0;
}

/* Add Page */

.add-recipe-page {}

.add-recipe-page h2 {
  text-align: center;
}

fieldset {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: none;
}

fieldset input,
fieldset textarea {
  margin: 0 auto;
}

.ingredients {
  display: block;
  padding: 10px;
}

.ingredients input[type="number"] {
  width: 50px;
}

.submit-btn,
.button,
button {
  background: #252525;
  border: 2px solid #252525;
  padding: 10px;
  margin: 10px auto;
  outline: none;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.submit-btn:hover,
.button:hover,
button:hover {
  background: white;
  color: #252525;
}

/* General Styles */

input:valid,
textarea:valid {
  border: 1px solid skyblue;
}

input:invalid,
textarea:invalid {
  border: 1px solid salmon;
}

fieldset {
  position: relative;
  margin-top: 30px;
}

fieldset>label {
  position: absolute;
  width: 200px;
  left: 50%;
  top: -25px;
  margin-left: -100px;
  text-align: center;
}

input:invalid~label::after,
textarea:invalid~label::after {
  content: "Required" !important;
  color: red;
  position: absolute;
  right: -70px;
  top: 30px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 2rem;
  }
  .home-welcome-message h2 {
    font-size: 3rem;
  }
  .nav-list {
    background: rgb(212, 212, 212);
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vh;
    max-width: 500px;
    height: 100%;
    justify-content: flex-start;
    z-index: 19;
    transition: all .2s ease-in-out;
    transform: translateX(200vw);
  }
  .nav-list.open {
    transform: translateX(0vw);
  }
  .nav-list li {
    height: auto;
  }
  .nav-list li:first-child {
    margin-top: 50px;
  }
  .nav-button {
    display: block;
    position: fixed;
    z-index: 20;
    top: 20px;
    right: 20px;
    color: #555;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  .nav-button:hover {
    color: #333;
    transform: scale(1.1);
  }
  #nav-closer {
    background: rgba(85, 85, 85, 0.103);
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 15;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  #nav-closer.cover {
    display: block;
    opacity: 1;
  }
  .recipe-container {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    padding: 0px;
    flex-direction: column;
  }
  .panel {
    width: 95%;
    margin: 0 auto;
  }
  .panel:first-child {
    order: 2;
  }
  .comment {
    flex-direction: column;
    border: none;
  }
  .commenter {
    border: none;
    border-bottom: 1px solid grey;
  }
  .add-comment form input {
    width: 95%;
    margin-top: 10px;
  }
}